<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <div class="content">
            <h2>Login</h2>
            <hr />
            <form class="form login-form">
                <div class="mb-3 form-group">
                    <label for="email-login" class="form-label">Email:</label>
                    <input type="email" class="form-control form-input" type="text" id="email-login"
                        placeholder="Email" />
                </div>
                <div class="mb-3 form-group">
                    <label for="password-login" class="form-label">Password:</label>
                    <input class="form-control form-input" type="password" id="password-login" />
                </div>
                <div class="mb-3 form-group">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <h2>Sign-up</h2>
        <hr />
        <form class="form signup-form">
            <div class="mb-3 form-group">
                <label for="name-signup" class="form-label">Name:</label>
                <input class="form-control form-input" type="text" id="name-signup" />
            </div>
            <div class="mb-3 form-group">
                <label for="email-signup" class="form-label">Email:</label>
                <input class="form-control form-input" type="text" id="email-signup" />
            </div>
            <div class="mb-3 form-group">
                <label for="password-signup" class="form-label">Password:</label>
                <input class=" form-control form-input" type="password" id="password-signup" />
            </div>
            <div class="mb-3 form-group">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>
    </div>

    <!--run login script-->
    <script src="/js/login.js"></script>