<div class="row align-items-centre">
    <div class="mx-auto col-10 col-md-8 col-lg-6"></div>
    <form class ="signup-form col-4">
        <legend>Sign-Up</legend>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="username" class="form-control" id="username-signup" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup">
        </div>
        <!--<div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>-->
        <button type="submit" class=" submit btn btn-primary">Submit</button>
    </form>
</div>

<!--run signup script-->
<script src="/js/signup.js"></script>